.heading-main {
    color: white;
}

.text-heading {
    font-family: 'Libre Baskerville', serif;
}

.nav-link {
    margin: 10px;
}

.second-heading {
    font-family: 'Libre Baskerville', serif;
}

.card-one {
    background-color: #141E46;
}

.card-two {
    background-color: #CA3E47;
}

.cardone-text {
    color: white;
}

@media (max-width: 680px){
    iframe {
        width: 350px; 
        align-items: center;
    }


}

